# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
import pandas as pd
bestsellers=pd.read_csv("../data/bestsellers.csv")
bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
bestsellers.min()

Name           10-Day Green Smoothie Cleanse
Author                      Abraham Verghese
User Rating                              3.3
Reviews                                   37
Price                                      0
Year                                    2009
Genre                                Fiction
dtype: object

In [4]:
bestsellers.max()

Name           You Are a Badass: How to Stop Doubting Your Gr...
Author                                              Zhi Gang Sha
User Rating                                                  4.9
Reviews                                                    87841
Price                                                        105
Year                                                        2019
Genre                                                Non Fiction
dtype: object

In [7]:
bestsellers.mean()

C:\Users\user\AppData\Local\Temp\ipykernel_17460\1813816453.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  bestsellers.mean()

User Rating        4.618364
Reviews        11953.281818
Price             13.100000
Year            2014.000000
dtype: float64

In [8]:
bestsellers.head(5).mean()

C:\Users\user\AppData\Local\Temp\ipykernel_17460\2420701358.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  bestsellers.head(5).mean()

User Rating        4.7
Reviews        13494.0
Price             12.6
Year            2016.2
dtype: float64

In [10]:
bestsellers.mode()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Publication Manual of the American Psychologic...,Jeff Kinney,4.8,8580.0,8.0,2009,Non Fiction
1,NaN,NaN,NaN,NaN,NaN,2010,NaN
2,NaN,NaN,NaN,NaN,NaN,2011,NaN
3,NaN,NaN,NaN,NaN,NaN,2012,NaN
4,NaN,NaN,NaN,NaN,NaN,2013,NaN
5,NaN,NaN,NaN,NaN,NaN,2014,NaN
6,NaN,NaN,NaN,NaN,NaN,2015,NaN
7,NaN,NaN,NaN,NaN,NaN,2016,NaN
8,NaN,NaN,NaN,NaN,NaN,2017,NaN
9,NaN,NaN,NaN,NaN,NaN,2018,NaN
10,NaN,NaN,NaN,NaN,NaN,2019,NaN

In [11]:
bestsellers.sum()

Name           10-Day Green Smoothie Cleanse11/22/63: A Novel...
Author         JJ SmithStephen KingJordan B. PetersonGeorge O...
User Rating                                               2540.1
Reviews                                                  6574305
Price                                                       7205
Year                                                     1107700
Genre          Non FictionFictionNon FictionFictionNon Fictio...
dtype: object

In [ ]:
bestsellers.describe(include="O")